
#drum-machine {
  background-color: #add8e6;
  flex-wrap: wrap;
}
#display {
  height: 25vh;
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 6vw;
}

#drum-pads {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.drum-pad {
  border: 1px solid black;
  border-radius: 10%;
  height: 10vh;
  width: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 3vw;
  background-color: #fa8072;
}